body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-colour{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient( tomato, salmon);
    padding: 10px 50px;
    border-radius: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-unit{
    box-shadow: 10px 10px 30px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 5px;
}
#experience-babyweb{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#experience-fullstack{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}